<p>
    nav-join works!
</p>
<!--<ejs-grid [dataSource]='tabSelectData' [allowPaging]="true" [pageSettings]='pageSettings'>-->
<ejs-grid [dataSource]='tabSelectData'>
    
    <!--<e-columns>
        <e-column field='hasYmap' headerText='Y0' textAlign='Left' width=10></e-column>
        <e-column field='hasYsnp' headerText='Y1' textAlign='Left' width=10></e-column>
        <e-column field='hasYstr' headerText='Y2' textAlign='Left' width=10></e-column>
        <e-column field='hasMmap' headerText='M0' textAlign='Left' width=10></e-column>
        <e-column field='hasMsnp' headerText='M1' textAlign='Left' width=10></e-column>
        <e-column field='name' headerText='name' width=120></e-column>
        <e-column field='type' headerText='type' width=60></e-column>
        <e-column field='members' headerText='all' textAlign='Right' width=40></e-column>
        <e-column field='membersYgps' headerText='Y gps' textAlign='Right' width=40></e-column>
        <e-column field='membersMgps' headerText='M gps' textAlign='Right' width=40></e-column>
        <e-column field='lastCheck' headerText='last check' textAlign='Right' format='yMd' width=120></e-column>
    </e-columns>-->
</ejs-grid>