<p>
    nav-join works!
</p>
<!--<ejs-grid [dataSource]='tabSelectData' [allowPaging]="true" [pageSettings]='pageSettings'>-->
<!--<ejs-grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true" [pageSettings]="pageSettings">
    <e-columns>
        <e-column field='OrderID' headerText='Order ID' textAlign='Right' width=90></e-column>
        <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
        <e-column field='Freight' headerText='Freight' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='OrderDate' headerText='Order Date' textAlign='Right' format='yMd' width=120></e-column>
    </e-columns>
</ejs-grid>-->

<ejs-grid #ProjectTabFTDNA [dataSource]='tabProjectsFTDNA' 
    [allowPaging]="true"  [pageSettings]="pageSettings" 
    [allowSorting]="true" [sortSettings]="sortSettings" 
    [allowFiltering]="true" [filterSettings]="filterSettings"
    [allowGrouping]="true">
	<e-columns>
		<e-column field='hasYmap' headerText='Y0' textAlign='Left' width=20></e-column>
        <e-column field='hasYsnp' headerText='Y1' textAlign='Left' width=20></e-column>
        <e-column field='hasYstr' headerText='Y2' textAlign='Left' width=20></e-column>
        <e-column field='hasMmap' headerText='M0' textAlign='Left' width=20></e-column>
        <e-column field='hasMsnp' headerText='M1' textAlign='Left' width=20></e-column>
        <e-column field='name' headerText='name' width=100></e-column>
        <e-column field='type' headerText='type' width=40></e-column>
        <e-column field='members' headerText='all' textAlign='Right' width=20></e-column>
        <e-column field='membersYgps' headerText='Y gps' textAlign='Right' width=20></e-column>
        <e-column field='membersMgps' headerText='M gps' textAlign='Right' width=20></e-column>
        <e-column field='lastCheck' headerText='last check' textAlign='Right' format='yMd' width=30></e-column>
	</e-columns>
</ejs-grid>

<!--<ejs-treegrid #snpTree [dataSource]='data' [treeColumnIndex]='0' parentIdMapping='parentName' idMapping='curentName' 
    
    
    [allowFiltering]="true" [filterSettings]="filterSettings" 
 [allowSorting]="true" [sortSettings]="sortSettings" 
 [allowPaging]="true" [pageSettings]='pageSettings'

 [allowResizing]='true' height=700 (dataBound)='onDataBound()' [allowReordering]='true' autoCheckHierarchy='false'>
	<e-columns>
		<e-column field='curentName' headerText='SNP or Surname' width='200' textAlign='Left' [lockColumn]='true' [showCheckbox]='true'></e-column>
		<e-column field='originYear' headerText='LCA / TMRCA' width='170'></e-column>
	</e-columns>
</ejs-treegrid>-->


<!--  
      <e-column 
        field='StartDate' 
        headerText='Start Date' 
        width='130' 
        format="yMd" 
        textAlign='Right'
      ></e-column>
      <e-column 
        field='Duration' 
        headerText='Duration' 
        width='80' 
        textAlign='Right'
      ></e-column>
      -->