
<div id="rootNavShow" class="rootButton" *ngIf="!showControlPanel" (click)="showControlPanel=true"><img
        src="assets/svgs/CONTROLL_SHOW.svg" /></div>
<div id="rootBox">
    <div id="rootNav" *ngIf="showControlPanel">
        <div id="rootControll">
            <div id="rootButtons">
                <div class="rootButton"><img src="assets/svgs/WINDOW_EXIT.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/WINDOW_HIDE.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/DATABASE_SAVE.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/DATABASE_OPEN.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/DATABASE_DOWN.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/DATABASE_EDIT.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/SETINGS.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/SUPPORT.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/LANGUAGE.svg" /></div>
                <div class="rootButton"><img src="assets/svgs/WINDOW_NEXT.svg" /></div>
                <div class="rootButton" (click)="showControlPanel=false"><img src="assets/svgs/CONTROLL_HIDE.svg" />
                </div>
            </div>
            <img id="rootBrand" src="assets/svgs/CISOWSCY.COM_HAPLOFT.svg" />
        </div>
        <div id="rootContainerNav" class="rootContainer">aaa</div>
    </div>
    <div id="rootContainerMain" class="rootContainer">aaa</div>
</div>